#menu {
    background-color: #F52114 !important;
    position: relative;
}

#apptitle {
    color: white;
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: Bold;
    font-style: italic;
}

li {
    list-style-type: none;
    margin-left: 40px;
    color: white;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
}

a {
     color: white;
     text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.login {
    position: absolute;
    left: 80%;
    top: 10px;
    color: white;
    text-decoration: underline;
    cursor:pointer;
}